* {
    margin: 0;
}

body {

    /* Hide vertical scrollbar */
    overflow-x: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* Hide horizontal scrollbar */
}
.aboutcontent{
    height: 100%;
}
.toggle-div {
    display: block;
}

#aboutusid {
    width: 94%;
    margin-top: 5%;
    position: relative;
}

hr {
    display: block;
    box-sizing: border-box;
    border: 2px solid #1ED760;
    width: 16%;
}

#aboutusid center h1 {
    color: white;
}

#aboutusid center h3 {
    margin-top: 4%;
    font-family: Poppins;
    font-weight: 600;
    color: #1ED760;
}

.mission,
.vision,
.values {
    display: flex;
    height: 400px;
    width: 100%;
    /* background-color: green; */
    /* border: 3px solid yellow; */
}

.photos {
    width: 50%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
}

.blur {
    width: 45%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.clear {
    width: 55%;
    height: 100%;
    /* background-color: lightsteelblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 0;
}

.clear img {
    height: 80%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btop {
    height: 50%;
    width: 100%;
    /* background-color: goldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btop img {
    height: 70%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: blur(6px);
}

.bbottum {
    height: 50%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bbottum img {
    height: 70%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: blur(6px);
}

.content {
    width: 50%;
    height: 100%;
    /* background-color: grey; */
}

.content p {
    font-size: 1.9rem;
    color: white;
    padding-left: 10%;
    word-spacing: 0.2cm;
    padding-top: 20%;
    padding-right: 19%;
    font-family: 'Poppins';
    font-weight: 400;
}

.circle {
    width: 750px;
    height: 750px;
    /* margin-left: 5%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c3,
.c1,
.c2 {
    position: absolute;
}

.c3 {
    height: 100%;
    width: 100%;
}

.c2 {
    height: 80%;
    width: 80%;
}

.c1 {
    height: 60%;
    width: 60%;
}

.circlediv {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    position: relative;
}

.circle-content {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 30%;
}

.circle-content .content-title {
    /* color: white; */
    font-weight: normal;
    font-size: 1.8rem;
    padding-bottom: 8%;
}
.content-title{
    color: white !important; 
    margin-top: 4%;
    font-family: Poppins;
    font-weight: 300 !important;
}
.circle-content p {
    padding: 0 8%;
    color: white;
    
    font-size: 1.3rem;
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 600;
}

.heart {
    position: absolute;
    z-index: 2;
    top: 9%;
    left: 60%;
    animation: moveHeart 4s infinite;
}

.search {
    position: absolute;
    z-index: 2;
    top: 18%;
    left: 10%;
    transition: transform .2s;
    transition-delay: 1s;
    animation: moveSearch 4s infinite;
}

.chat {
    position: absolute;
    z-index: 2;
    top: 40%;
    right: -3%;
    animation: moveChat 4s infinite;
}

.star {
    position: absolute;
    z-index: 2;
    top: 73%;
    left: 48%;
    animation: moveStar 4s infinite;
}

.pin {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: -2%;
    animation: movePin 4s infinite;
}

@keyframes movePin {

    0%,
    25% {
        top: 60%;
        left: -2%;
    }

    33%,
    58% {
        top: 55%;
        left: -2%;
    }

    66%,
    91% {
        top: 52%;
        left: 4%;
    }

    100% {
        top: 60%;
        left: -2%;
    }
}

@keyframes moveStar {

    0%,
    25% {
        top: 72%;
        left: 44%;
        transform: scale(1.1)
    }

    33%,
    58% {
        top: 73%;
        left: 46%;
        transform: scale(0.9);
    }

    66%,
    91% {
        top: 73%;
        left: 48%;
        transform: scale(0.7);
    }

    100% {
        top: 72%;
        left: 44%;
        transform: scale(1.1)
    }
}

@keyframes moveChat {

    0%,
    25% {
        top: 40%;
        right: -3%;
        transform: scale(1);
    }

    33%,
    58% {
        top: 42%;
        right: -1%;
        transform: scale(1.3)
    }

    66%,
    91% {
        top: 37%;
        right: 2%;
        transform: scale(1);
    }

    100% {
        top: 40%;
        right: -3%;
        transform: scale(1);
    }
}

@keyframes moveSearch {

    0%,
    25% {
        top: 18%;
        left: 12%;
        transform: scale(1);
    }

    33%,
    58% {
        top: 20%;
        left: 12%;
        transform: scale(1);
    }

    66%,
    91% {
        top: 22%;
        left: 5%;
        transform: scale(1.3)
    }

    100% {
        top: 18%;
        left: 12%;
        transform: scale(1);
    }
}

@keyframes moveHeart {

    0%,
    25% {
        top: 9%;
        left: 60%;
    }

    33%,
    58% {
        top: 10%;
        left: 64%;
    }

    66%,
    91% {
        top: 9.5%;
        left: 62%;
    }

    100% {
        top: 9%;
        left: 60%;
    }
}

.rightCircle {
    width: 15%;
    height: 9%;
    position: absolute;
    top: 60%;
    right: -15%;
}

.cir {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftCircle {
    width: 10%;
    height: 6%;
    position: absolute;
    top: 104%;
    left: -12%;
}

.active {
    color: #1ED760 !important;
    /* Change this to the desired color */
}

